/* DIALOG - MODAL*/

.dialog{
    display: none;
    position: fixed;
    background: rgba(255,255,255,.90);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 50px 0 20px 0;
}

.dialog-close{
    background: transparent;
    border: none;
    color: #000000;
    font-size: 1.2rem;
    cursor: pointer;
    position: fixed;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.dialog-close i{
    font-size: 2rem;
    position: relative;
    top: 5px;
}

.dialog-body{
    display: none;
    overflow-y:auto;
    width: 90%;
    max-width: 760px;
    max-height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.dialog-body-header{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 20px 0 10px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(20, 22, 56);  
    line-height: 1.2;
}

.dialog-body-header strong{
    font-size: 2rem;
    font-weight: 400;

}


.dialog-body-header span{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(20, 22, 56);   
}

.dialog-cols .row{
    margin-bottom: 200px;
}

.dialog-cols .row p{
    margin-bottom: 10px;
}

.dialog-cols-header{
    margin: 10px 0;
    border-bottom: 2px solid rgb(20, 22, 56); 
    padding-bottom: 5px;
}


.dialog-cols-header span{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(20, 22, 56); 
    position: relative;
}

.dialog-cols-header span::after{
    content: "";
    background: rgb(20, 22, 56); 
    position: absolute;   
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%; 
}

.sectionPortfolio{
    margin-top: -60px;
}

