/* ==========  ESTÚDIO HOVER======== */
.estudio-list li:hover .estudio-foto-hover {
    opacity: 1;
    border-radius: 0;
    -webkit-border-radius: 0;
    transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
  }
  
  .estudio-list li:hover .estudio-title::before {
    top: 0;
  }
  
  .estudio-list li:hover .estudio-title {
    color: white;
  }
  