.top{  
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.80);
    font-size: 2.5rem;
    border-radius:  50px 50px 50px 50px;
    display: none;
    margin-left: 150px;
    margin-top: 400px;
    width: 100px;
    height: 100px;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.show_button .top{
    display: flex;
}

.top:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 200ms ease;
    -webkit-transition: 200ms ease;
}

.top p {
    font-size: 10px;
}